src/main/resources/validator/entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fields" />
        <xs:element ref="groups" />
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="valid">
    <xs:complexType>
      <xs:attribute name="alias" type="xs:string" use="optional" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="msg" type="xs:string" use="required" />
      <xs:attribute name="min" type="xs:string" use="optional" />
      <xs:attribute name="max" type="xs:string" use="optional" />
      <xs:attribute name="url" type="xs:string" use="optional" />
      <xs:attribute name="regex" type="xs:string" use="optional" />
      <xs:attribute name="restrict" type="xs:string" use="optional" />
      <xs:attribute name="flag" type="xs:string" use="optional" />
      <xs:attribute name="ref" type="xs:string" use="optional" />
      <!--<xs:any namespace='http://www.w3.org/1999/xhtml' minOccurs='0' maxOccurs='unbounded' processContents='lax' />-->
    </xs:complexType>
  </xs:element>
  <xs:element name="groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="field" minOccurs="0" />
        <xs:element ref="script" minOccurs="0" />
        <xs:any namespace='http://www.w3.org/1999/xhtml' minOccurs='0' maxOccurs='unbounded' processContents='lax' />
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="extends" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="fields">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="field" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="valid" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="property" type="xs:string" use="required" />
      <xs:attribute name="valid-alias" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="script">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="field" minOccurs="0" />
        <xs:element ref="script" minOccurs="0" />
        <xs:any namespace='http://www.w3.org/1999/xhtml' minOccurs='0' maxOccurs='unbounded' processContents='lax' />
      </xs:choice>
      <xs:attribute name="test" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
