src/main/resources/validator/internal/validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validators">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="action-validator" maxOccurs="unbounded" />
        <xs:element ref="action-resolver" maxOccurs="unbounded" />
        <xs:element ref="validator" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="action-validator">
    <xs:complexType>
      <xs:attribute name="class" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="action-resolver">
    <xs:complexType>
      <xs:attribute name="class" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="validator">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="extends" type="xs:string" use="optional" />
      <xs:attribute name="class" type="xs:string" use="optional" />
      <xs:attribute name="min" type="xs:string" use="optional" />
      <xs:attribute name="max" type="xs:string" use="optional" />
      <xs:attribute name="url" type="xs:string" use="optional" />
      <xs:attribute name="regex" type="xs:string" use="optional" />
      <xs:attribute name="restrict" type="xs:string" use="optional" />
      <xs:attribute name="flag" type="xs:string" use="optional" />
      <!--<xs:any namespace='http://www.w3.org/1999/xhtml' minOccurs='0' maxOccurs='unbounded' processContents='lax' />-->
    </xs:complexType>
  </xs:element>
</xs:schema>
